<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset ="utf-8">
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
  </head>
  <body>

    <%= yield %>

  </body>
</html>
