<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="utf-8">
  <link ref="css/bootstrap.css" rel="stylesheet" type="text/css">
  <title>Twitter!!</title>
</head>
<body>

  <%= yield %>

  <!--
  <form method="post" action="example.cgj">

  <p><input type="text" name="example" size="50"></p>
  <p>
  <input type="submit" value="submit">
  <input type="reset" value="reset">
  </p>
  
  </form>
  --!>

</body>
</html>
